.content .banner img { width:100%;}
.position { overflow:hidden; margin-top:45px;}
.position p a { color:#666666;}
.position p{ font-size:14px; color:#666666; float:right;}
.position p span { color:#3a8df0;}

.left { float:left;}
.sidebar { text-align:center; width:240px;}
.sidebar h3 { font-size:24px; line-height:110px; background:#70acf3; color:#ffffff;}
.sidebar ul { background:#efecec; padding:40px 0;}
.sidebar ul li { line-height:40px;}
.sidebar ul li a { font-size:18px; display:block;}
.sidebar ul li:hover { background:#9ac4f6;}
.sidebar ul li:hover a { color:#ffffff;}
.sidebar .current { background:#9ac4f6;}
.sidebar .current a { color:#ffffff;}
.right { float:right;}
.title { text-align:center; margin-top:30px; overflow:hidden;}
.title h3 { font-size:18px; color:#333333; line-height:40px;}
.title p { font-size:14px; color:#999999; float:left; margin-left:200px; line-height:35px; margin-bottom:30px;}
.title .pic { float:left;}
.title .pic img { float:left; margin-left:15px;}
.title p b { font-weight:normal; margin:0 8px;}
.text p { color:#666; font-size:14px; line-height:25px; text-indent:2em; width:890px;}
.text img { margin:15px auto;}
.flip { margin-top:45px; margin-bottom:177px; font-size:14px; line-height:25px;}
.flip span { margin-left:5px;}
.flip a { color:#999999;}
.flip :hover { color:#333333;}
.flip :hover span { text-decoration:underline;}
/*.prev { font-size:14px; line-height:25px; color:#999999;}

.next { font-size:14px; line-height:25px; color:#333333;}
.next span{ text-decoration:underline;}*/