
.picFocus{ width:420px; padding:5px;  position:relative;  overflow:hidden;  zoom:1; float:left;}
		.picFocus .hd{ width:100%; padding-top:5px;  overflow:hidden; }
		.picFocus .hd ul{ margin-right:-5px;  overflow:hidden; zoom:1; }
		.picFocus .hd ul li{ padding-top:5px; float:left;  text-align:center;  }
		.picFocus .hd ul li img{ width:64px; height:64px; border:1px solid #fff; cursor:pointer; margin-right:38px;   }
		/*.picFocus .hd ul li.on{ background:url("images/icoUp.gif") no-repeat center 0; }*/
		.picFocus .hd ul li.on img{ border-color:#4ba8e5;  }
		.picFocus .bd li{ vertical-align:middle; }
		.picFocus .bd img{ width:420px; height:420px; display:block;  }

.content .banner img { width:100%;}
.position { overflow:hidden; margin-top:45px;}
.position p a { color:#666666;}
.position p{ font-size:14px; color:#666666; float:right;}
.position p span { color:#3a8df0;}
.left { float:left;}
.sidebar { text-align:center; width:240px;}
.sidebar h3 { font-size:24px; line-height:110px; background:#70acf3; color:#ffffff;}
.sidebar ul { background:#efecec; padding:40px 0;}
.sidebar ul li { line-height:40px;}
.sidebar ul li a { font-size:18px; display:block;}
.sidebar ul li:hover { background:#9ac4f6;}
.sidebar ul li:hover a { color:#ffffff;}
.sidebar .current { background:#9ac4f6;}
.sidebar .current a { color:#ffffff;}

.right { float:right; width:920px;}
.details { margin-top:72px; overflow:hidden;}
.text { float:left; margin-top:5px; margin-left:30px;}
.text p { font-size:18px; color:#666; width:400px; line-height:45px;}
.show { margin-top:85px;}
.show h3 { font-size:24px; color:#666; text-align:center;}
.show img { margin-top:35px;}
.flip { margin-top:45px; margin-bottom:177px; font-size:14px; line-height:25px;}
.flip span { margin-left:5px;}
.flip a { color:#999999;}
.flip :hover { color:#333333;}
.flip :hover span { text-decoration:underline;}